/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  color: var(--text-color);
  background-color: var(--white-color);
  font-family: 'roboto', sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --title-color: rgb(33, 33, 33);
  --text-color: rgb(117, 117, 117);
  --accent-color: rgb(33, 150, 243);
  --white-color: rgb(255, 255, 255);
  --background-color: rgb(245, 244, 250);
  --logo-color-black: rgb(0, 0, 0);
  --h1-background-color: rgb(47, 48, 58);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --border-image-color: rgb(238, 238, 238);
  --social-links-grey: rgba(175, 177, 184, 1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.page-header {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 2;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.footer {
  background-color: var(--h1-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  font-family: 'raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
}

.logo__header {
  margin-right: 93px;
  color: var(--logo-color-black);
}

.logo__footer {
  color: var(--white-color);
}

.logo__part {
  color: var(--accent-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
  color: var(--title-color);
}

.navigation-list__link:hover {
  color: var(--accent-color);
}

.navigation-list__link:focus {
  color: var(--accent-color);
}

.navigation-list__link--current {
  color: var(--accent-color);
}

.navigation-list__link--current.navigation-list__link::after {
  opacity: 1;
}

.navigation-list__link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  height: 4px;
  width: 100%;
  -webkit-transform: translateY(28px);
          transform: translateY(28px);
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.navigation-list__link:hover.navigation-list__link::after {
  opacity: 1;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
  color: var(--text-color);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon {
  margin-right: 10px;
}

.contact-list__item:not(:last-child) {
  margin-right: 30px;
}

.address-container {
  margin-right: 74px;
}

.address-list__item:nth-child(2) {
  margin-top: 20px;
  display: block;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.address-contact-list {
  margin-top: 9px;
}

.address-contact-list__item {
  margin-top: 9px;
}

.address-contact-list__link {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.address-contact-list__link:hover, .address-contact-list__link:focus {
  color: var(--accent-color);
}

.social-container {
  margin-right: 93px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.sign-up-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sign-up-form__label {
  margin-right: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.sign-up-form__input {
  display: block;
  margin-top: 20px;
  width: 358px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--footer-text-color);
  background-color: var(--h1-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
}

.sign-up-form__input:focus-within, .sign-up-form__input:hover {
  border-color: var(--accent-color);
}

.sign-up-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  -webkit-transition: color 250ms var(--cubic) , background-color 250ms var(--cubic);
  transition: color 250ms var(--cubic) , background-color 250ms var(--cubic);
}

.sign-up-form__btn:focus, .sign-up-form__btn:hover {
  background-color: var(--white-color);
  color: var(--accent-color);
}

.sign-up-form__icon {
  margin-left: 10px;
}

.hero-section {
  text-align: center;
}

.hero-section__bg-image {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--h1-background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section__button {
  margin-top: 30px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  -webkit-transition: color 250ms var(--cubic) , background-color 250ms var(--cubic);
  transition: color 250ms var(--cubic) , background-color 250ms var(--cubic);
}

.hero-section__button:hover, .hero-section__button:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
}

.portfolio-section,
.clients-section,
.team-section,
.offers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-section {
  padding-top: 94px;
}

.team-section {
  background-color: var(--background-color);
}

.hero-section__title {
  padding-top: 200px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.offers-section__title,
.team-section__title,
.clients-section__title,
.clients-section__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

.footer__social-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--white-color);
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits-list__item {
  margin-right: 30px;
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
}

.benefits-list__container {
  height: 120px;
  background-color: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-list__icon {
  color: var(--title-color);
}

.benefits-list__title {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--title-color);
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
  text-align: left;
}

.offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-right: -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offers-list__item {
  margin-right: 30px;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.offers-list__thumb {
  position: relative;
  overflow: hidden;
}

.offers-list__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.offers-list__description {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-right: -30px;
}

.team-list__item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  background-color: var(--white-color);
  margin-right: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__container {
  padding: 30px 32px;
}

.team-list__member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--title-color);
  text-align: center;
}

.team-list__role {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
  text-align: center;
}

/* TEAM MEMBERS SOCIAL LINKS */
.team-list__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-list__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list__social-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  -webkit-transition: fill 250ms var(--cubic) , background-color 250ms var(--cubic);
  transition: fill 250ms var(--cubic) , background-color 250ms var(--cubic);
  height: 44px;
  fill: var(--social-links-grey);
  border-radius: 50%;
}

.team-list__social-bg:hover, .team-list__social-bg:focus {
  width: 44px;
  height: 44px;
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-right: -30px;
}

.clients-list__item {
  -ms-flex-preferred-size: calc(100% / 6 - 30px);
      flex-basis: calc(100% / 6 - 30px);
}

.clients-list__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms var(--cubic) , border-color 250ms var(--cubic);
  transition: fill 250ms var(--cubic) , border-color 250ms var(--cubic);
  margin-right: 30px;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--social-links-grey);
  fill: var(--social-links-grey);
}

.clients-list__logo:hover, .clients-list__logo:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.portfolio-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.portfolio-btn-list__item {
  margin-right: 8px;
}

.portfolio-btn-list__button {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: var(--title-color);
  background-color: var(--background-color);
  border-radius: 4px;
  -webkit-transition: color 250ms var(--cubic) , background-color 250ms var(--cubic) , -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic) , background-color 250ms var(--cubic) , -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic) , background-color 250ms var(--cubic) , box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic) , background-color 250ms var(--cubic) , box-shadow 250ms var(--cubic) , -webkit-box-shadow 250ms var(--cubic);
}

.portfolio-btn-list__button:hover, .portfolio-btn-list__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.portfolio-list__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-top: 30px;
}

.portfolio-list__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__container {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-list__type {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}

.portfolio-list__overlay {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.portfolio-list__link:focus .portfolio-list__overlay,
.portfolio-list__link:hover .portfolio-list__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list__text {
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  color: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.call-back-form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

.call-back-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.call-back-form__label:first-of-type {
  margin-top: 12px;
}

.call-back-form__label:not(:first-of-type) {
  margin-top: 10px;
}

.call-back-form__input-container {
  position: relative;
  display: block;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.call-back-form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
}

.call-back-form__input:focus-within, .call-back-form__input:hover {
  border-color: var(--accent-color);
}

.call-back-form__input:focus-within + .call-back-form__icon, .call-back-form__input:hover + .call-back-form__icon {
  fill: var(--accent-color);
}

.call-back-form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 12px;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.call-back-form__input,
.call-back-form__textarea {
  width: 100%;
  resize: none;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
}

.call-back-form__textarea {
  margin-top: 4px;
  height: 120px;
  padding: 12px 16px;
}

.call-back-form__textarea:focus-within, .call-back-form__textarea:hover {
  border-color: var(--accent-color);
}

.call-back-form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.call-back-form__textarea:-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.call-back-form__textarea::-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.call-back-form__textarea::placeholder {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.call-back-form__terms-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.71;
}

.call-back-form__terms-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.call-back-form__button {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px 10px 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.call-back-form__button:hover, .call-back-form__button:focus {
  background-color: #188ce8;
}

.call-back-form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.call-back-form__check-icon {
  display: block;
  margin-right: 7px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--cubic) , fill 250ms var(--cubic);
  transition: background-color 250ms var(--cubic) , fill 250ms var(--cubic);
}

.call-back-form__checkbox:checked + .call-back-form__check-icon {
  fill: var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 2px;
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  height: 581px;
  width: 528px;
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
  border-radius: 4px;
  background-color: var(--white-color);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */