.contacts-list {
  @include flex-centered(center, center);
}

.contacts-list__link {
  @include flex-centered(center, center);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include transition(color);
  color: var(--text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-list__icon {
  margin-right: 10px;
}

.contact-list__item:not(:last-child) {
  margin-right: 30px;
}
