.hero-section__title {
  padding-top: 118px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  @media screen and(min-width: 1200px) {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits-list__title {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.offers-section__title {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.team-section__title,
.clients-section__title,
.offers-section__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);
}

.clients-section__title {
  margin-bottom: 30px;
}

.team-section__title {
  @media screen and(min-width: 768px) {
    margin-bottom: 30px;
  }
}

.offers-section__title,
.team-section__title,
.clients-section__title {
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.footer__social-title {
  margin-top: 60px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);

  @media screen and(min-width: 768px) {
    margin-top: 0;
  }
}
