.hero-section__bg-image {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--h1-background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/hero/bg-mobile.jpg);

    max-width: 480px;
    height: 400px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .box {
        background-image: url(../../images/hero/bg-mobile@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/bg-tablet.jpg);

    max-width: 768px;
    height: 400px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .box {
        background-image: url(../images/hero/bg-tablet@2x.jpg);
      }
    }
  }
}

.hero-section__button {
  margin-top: 30px;
  padding: 10px 32px 10px 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;

  @include transition(color, background-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--white-color);
  }

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}
