.hero-section {
  text-align: center;
}

.team-section {
  background-color: var(--background-color);
}

.clients-section,
.portfolio-section,
.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
