.portfolio-section,
.clients-section,
.team-section,
.offers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-section {
  padding-top: 94px;
}

.team-section {
  background-color: var(--background-color);
}
