.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  border-radius: 4px;
  box-shadow: 00px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);

  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    max-width: 354px;
    flex-basis: calc((100% - (4 * 15px)) / 2);
    margin: 15px;
  }
}

.team-list__container {
  text-align: center;
  padding-top: 30px;
  @media screen and (max-width: 1999px) {
    padding-bottom: 24px;
  }
}

.team-list__member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--title-color);
}

.team-list__role {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
}

/* TEAM MEMBERS SOCIAL LINKS */

.team-list__social-list {
  display: flex;

  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

.team-list__social-links {
  display: flex;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.team-list__social-bg {
  @include flex-centered(center, center);
  @include transition(fill, background-color);

  width: 44px;
  height: 44px;
  fill: var(--social-links-grey);
  border-radius: 50%;
}
