:root {
  --title-color: rgb(33, 33, 33);
  --text-color: rgb(117, 117, 117);
  --accent-color: rgb(33, 150, 243);
  --white-color: rgb(255, 255, 255);
  --background-color: rgb(245, 244, 250);
  --logo-color-black: rgb(0, 0, 0);
  --h1-background-color: rgb(47, 48, 58);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --border-image-color: rgb(238, 238, 238);
  --social-links-grey: rgba(175, 177, 184, 1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
