.address-container {
  margin-right: 74px;
}

.address-list__item:nth-child(2) {
  margin-top: 20px;
  display: block;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-contact-list {
  margin-top: 9px;
}

.address-contact-list__item {
  margin-top: 9px;
}

.address-contact-list__link {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color);
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
