.address-list__link,
.address-contact-list__link {
  display: block;
  font-size: 14px;
  line-height: 1.7;

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-list__link {
  color: var(--white-color);
}

.address-contact-list__link {
  color: var(--footer-text-color);
  @include transition(color);
}

.address-list__item:nth-child(2) {
  margin-top: 20px;
}

@media screen and (min-width: 320px) {
  .address-contact-list,
  .address-contact-list__item:nth-child(2) {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address-contact-list,
  .address-contact-list__item:nth-child(2) {
    margin-top: 9px;
  }
}
