.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  position: relative;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @include transition(color);
  color: var(--title-color);

  &:hover {
    color: var(--accent-color);
  }

  &:focus {
    color: var(--accent-color);
  }
}

//Current link

.navigation-list__link--current {
  color: var(--accent-color);

  &.navigation-list__link::after {
    opacity: 1;
  }
}

// Navigation link underline

.navigation-list__link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;

  display: block;
  height: 4px;
  width: 100%;

  transform: translateY(28px);
  @include transition(opacity);
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.navigation-list__link:hover {
  &.navigation-list__link::after {
    opacity: 1;
  }
}
