.social-container {
  margin-right: 93px;
}

.social-list {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
